<mat-toolbar class="custom-toolbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Aloongs</span>
</mat-toolbar>

<div class="main-container">
  <div class="login-box">
  <h2 class="titulo">Bem-vindo ao Aloongs</h2>
  <mat-form-field class="login-field">
  <mat-label>Usuário</mat-label>
    <input matInput>
  </mat-form-field>

<mat-form-field class="login-field">
  <mat-label>Senha</mat-label>
  <input matInput type="password">
</mat-form-field>

    <button mat-raised-button class="botao">Fazer login</button>
  </div>
</div>

<footer class="footer">Aloongs</footer>
